/*added limiter so it will not stretch too far on big screens*/
.content, .header-content, .footer-content {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

#root{
  width: 100%;
  min-height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.content{
  padding: 2rem;
}

.light-toggler svg{
  width: 16px;
  height: 16px;
}

.light-toggler{
  position: relative;
}

.light-toggler:hover:after{
  transition-delay: 3s;
  content: "Click on me if it's too bright please";
  position: absolute;
  left: 0;
  transform: translateX(calc(-100% - 10px));
  width: 250px;
}
/*as mentioned - class to reduce that huge chart*/
.doughnut{
  width: 70%;
  margin: auto;
}

button.chart-color{
  background: rgba(43, 63, 229, 0.8);
}
button.chart-color:hover{
  background: rgba(43, 63, 229, 1);
}
/*look at that, @media query free css*/